@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">You are logged in with<b> @User.Identity.Name </b>Account </a>
    </li>
    
</ul>
<img src="~/img_main_privacy.3db3988e.png" />