@model SearchModel
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-8">
                    <label asp-for="PharmacyName" class="control-label"></label>
                    <input asp-for="PharmacyName" class="form-control" />
                    <span asp-validation-for="PharmacyName" class="text-danger"></span>
                </div>
                
            </div>
            <div class="row">
                <div class="form-group col-8">
                    <label asp-for="PharmacyLocation" class="control-label"></label>
                    <select asp-for="PharmacyLocation" asp-items="@Html.GetEnumSelectList<Cities>()" class="form-control"></select>
                </div>
                <div class="form-group col-8">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
               
                <label asp-for="pharmacies.FirstOrDefault().PharmacyName"></label>
               
            </th>
            
            <th>
                <label asp-for="pharmacies.FirstOrDefault().PharmacyLocation"></label>
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.pharmacies)
        {
            <tr>
                <td>
                    @item.PharmacyName
                </td>
               
                <td>
                    @item.PharmacyLocation
                </td>
              
                
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
